/* Main Heading Styling */
.bg-3 {
    width: 100%;
    height: 300px;
    background-image: url(/Photos/bg-5.jpg);
    background-size: cover;
    display: grid;
    align-items: center;
}

.main-heading1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@media only screen and (max-width:400px) {
    .main-heading1 {
        flex-direction: row;
    }
}

.main-heading1 a {
    color: rgba(255, 255, 255, .55);
    font-size: 2rem;
    text-decoration: none;
}

.main-heading1 a:hover {
    color: #fff;
}

.main-heading2 {
    display: flex;
    align-items: flex-end;
}

.main-heading2 h5 {
    font-size: 3rem;
    color: #fff;
}

/* About Styling */
.display5 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.Margin-4 {
    margin-top: 2%;
}

@media only screen and (max-width:700px) {
    .Nsut-logo {
        display: none;
    }

}

.bg-5 {
    background-image: url(/Photos/bg-9.jpg);
    background-size: cover;
    color: #fff;
    padding: 2% 0%;
}

.bg-2 {
    padding: 2% 0%;
    display: grid;
}

.video {
    width: 100%;
    height: 300px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .video {
        height: 200px;
    }
}

.margin1 {
    margin: 6% 0%;
    color: #000;
}

.display6 {
    display: grid;
    align-items: center;
}

.hover-1 {
    text-decoration: none;
    color: #000;
}

.hover-1:hover {
    color: #73cee5;
}

/* footer */
.bg-6 {
    background-color: #212f3d;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 400px;
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }
}

.display3 {
    display: grid;
    justify-content: center;
    color: #fff;
}

.display3 li {
    list-style: none;
}

.display3 ul a {
    color: rgba(255, 255, 255, .55);
    text-decoration: none;
}

.display3 ul a:hover {
    color: #fff;

}

.Img-2 {
    width: 2rem;
    filter: invert(1);
}

/* Transition */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}