/* footer */
.bg-5{
    background-color:#212F3D;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 400px;
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }
}

.display3{
    display: grid;
    justify-content: center;
    color: #fff;
}

.display3 li{
    list-style: none;
}

.display3 ul a{
    color:rgba(255, 255, 255, .55);
    text-decoration: none;
}

.display3 ul a:hover{
    color: #fff;

}

.Img-2{
    width: 7%;
    filter: invert(1);
}

.bg-6{
    background-color: #1f1f23;
}

.bg-4 {
    background-color: rgba(105, 105, 105);
}